@charset "UTF-8";
@import url("https://use.typekit.net/beg6jky.css");
/* CSS Document */

/*structure*/
@media (min-width: 1300px) {
	body {
		background-image: url(/img/index_images/Globe.gif);
		background-size: fill;
		background-repeat: no-repeat;
	}
}

body {
	color: white;
	background-color: #52658F;
	font-family: futura-pt-condensed, sans-serif;
	font-style: normal;
	font-weight: 500;
}

.welText {
	text-transform: uppercase;
	letter-spacing: 2px;
}

header {
	position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
	background-color: #333A56;
}

footer {
	position: absolute;
		left: 0%;
		bottom: 0%;
		height: auto;
		width: 100%;
	background-color: #333A56;
}


/*elements*/
#welLogo {
	position: absolute;
		right: 10%;
		top: 5%;
		width: 12%;
		height: auto;
}
#welLabel {
	position: absolute;
	right: 10%;
	top: 20%;
	font-size: 4vw;
	padding: 0px;
}
#welDeftext {
	position: absolute;
	right: 10%;
	top: 40%;
	text-align: right;
	font-size: 1vw;
}
#welSubtitle {
	position: absolute;
		right: 10%;
		top: 34%;
	font-size: 1.5vw;
}

#welHeadertext {
	text-align: center;
	font-size: 15px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 5px;
	margin: 4px;
}
#welFootertext {
	text-align: center;
	font-size: 15px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 3px;
	margin: 4px;
}

/*login system*/
#welLoginForm {
	position: absolute;
	right: 10%;
	top: 50%;
	color: #E8E8E8;
}

input[type="text"],[type="password"] {
	border: 1px solid #333a56;
}

input[placeholder] {
	margin: 2px;
	padding: 10px;
	color: #333a56;
	font-family: futura-pt-condensed, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: right;
	width: 170px
}
	
input[type="submit"] {
	background: #333a56;
	border: 2px solid #333a56;
	position: absolute;
	margin: 4% 4%;
	padding-right: 3px;
	right: 0%;
	color: #E8E8E8;
	font-family: futura-pt-condensed, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1vw;
	letter-spacing: 3px;
}