@charset "UTF-8";
/* CSS Document */

/*structure*/
body {
	position: fixed;
		left: 0%;
		top: 3%;
		height: 94%;
		width: 100%;
	background-image: url( index_images/wel_background.png);
	background-size: cover;
	background-color: #52658F;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header {
	position: fixed;
		left: 0%;
		top: 0%;
		height: 3%;
		width: 100%;
	background-color: #333A56;
}
footer {
	position: fixed;
		left: 0%;
		top: 97%;
		height: 3%;
		width: 100%;
	background-color: #333A56;
}



/*elements*/
#wel_logo {
	position: fixed;
		left: 77.7%;
		top: 19%;
		width: 15%;
		height: 25%;
}
#wel_deftext {
	position: fixed;
		left: 75.5%;
		top: 49%;
		width: 19.3%;
		height: 8.5%;
}
#wel_label {
	position: fixed;
		left: 76.5%;
		top: 44%;
		width: 17.7%;
		height: 3.8%;
}
#wel_subtitle {
	position: fixed;
		left: 79.5%;
		top: 19%;
		width: 12%;
		height: auto;
}
#wel_headertext {
	position: fixed;
		top: -1.5%;
		left: 42%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 12px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 5px;
}
#wel_footertext {
	position: fixed;
		top: 95.8%;
		left: 25%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 12px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 2px;
}



/*login system*/
#wel_loginbutton {
	position: fixed;
		left: 83.8%;
		top: 60%;
	color: #E8E8E8;
	text-decoration: none;
}
	
