@charset "UTF-8";
@font-face {
  font-family: 'Stellar';
  src: url('ext/Stellar-Regular.otf');
}
/* CSS Document */

/*structure*/

body {
	color: white;
	background-image: url(/img/index_images/wel_background.png);
	background-size: cover;
	background-color: #52658F;
	background-repeat: no-repeat;
	background-attachment: absolute;
	font-family: 'Stellar', sans-serif;
}

.welText {
	text-transform: uppercase;
	letter-spacing: 2px;
}

header {
	position: absolute;
		left: 0%;
		top: 0%;
		height: auto;
		width: 100%;
	background-color: #333A56;
}

footer {
	position: absolute;
		left: 0%;
		bottom: 0%;
		height: auto;
		width: 100%;
	background-color: #333A56;
}


/*elements*/
#welLogo {
	position: absolute;
		right: 10%;
		top: 5%;
		width: 12%;
		height: auto;
}
#welDeftext {
	position: absolute;
	right: 10%;
	top: 40%;
	text-align: right;
}
#welLabel {
	position: absolute;
	right: 10%;
	top: 25%;
	font-size: 400%;
}
#welSubtitle {
	position: absolute;
		right: 10%;
		top: 36%;
}

#welHeadertext {
	text-align: center;
	font-size: 15px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 5px;
	margin: 4px;
}
#welFootertext {
	text-align: center;
	font-size: 15px;
	font-weight: 10;
	color: #E8E8E8;
	letter-spacing: 3px;
	margin: 4px;
}

/*login system*/
#welLoginForm {
	position: absolute;
	right: 10%;
	top: 63%;
	color: #E8E8E8;
}

input[type="text"] {
	border: 333a56 medium;
}

input[placeholder] {
	margin: 2px;
	padding: 10px;
	color: #333a56;
	font-family: 'Stellar', sans-serif;
	text-align: right;
}
	
input[type="submit"] {
	background: none;
	border: none;
	position: absolute;
	margin: 4% 0%;
	right: 0%;
	color: #333a56;
	font-family: 'Stellar', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
}