@font-face {
  font-family: 'Stellar';
  src: url('ext/Stellar-Regular.otf');
}

body {
	background: #69d;
	font-family: 'Stellar', sans-serif;
	color: white;
	margin: 0px;
	padding: 2px 12px;
}

.element {
	border-top: 2px dotted black;
	
}

#loggedIn {
	float: right;
	margin-top: 2px;
}

#logo {
	position: fixed;
	bottom: 12px;
	left: 12px;
	height: 100px;
}